<h1><%= header_with_markup(definition.path, definition.separator, definition.name) %></h1>
<hr />
<% unless definition.comment.blank? %>
<div class="comment">
  <%= flow definition.comment %>
</div>
<% end %>
<% unless definition.instance_methods.empty? %>
<h2>Instance methods</h2>
<ul>
  <% definition.instance_methods.each do |method| %>
  <li><a href="<%= definition.name %>/<%= method.name %>.karidoc"><%= method.name %></a></li>
  <% end %>
</ul>
<% end %>
<% unless definition.class_methods.empty? %>
<h2>Class methods</h2>
<ul>
  <% definition.class_methods.each do |method| %>
  <li><%= method.name %></li>
  <% end %>
</ul>
<% end %>
<% unless definition.includes.empty? %>
<h2>Includes</h2>
<ul>
  <% definition.includes.each do |inc| %>
  <li><%= inc.name %></li>
  <% end %>
</ul>
<% end %>
<% unless definition.attributes.empty? %>
<h2>Attributes</h2>
<ul>
  <% definition.attributes.each do |attribute| %>
  <li>
    <span><%=h attribute.rw.downcase %></span>
    <span>–</span>
    <span><%=h attribute.name %></span>
    <% if attribute.comment %>
    <%= flow attribute.comment %>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>
<% unless definition.constants.empty? %>
<h2>Constants</h2>
<table>
  <% definition.constants.each do |constant| %>
    <tr>
      <td><%=h constant.name %></td>
      <td><code><%=h constant.value %></code></td>
    </tr>
    <% if constant.comment %>
    <tr class="comment">
      <td colspan="2"><%= flow constant.comment %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<% end %>